.input-email {
    display: center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 40vw;
    height: 3vw;
    border-style: solid;
    border-width: 3;
    border-radius: 5px !important;
    border-color: #FF7F27;

}

.input-passwd {
    display: center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 40vw;
    height: 3vw;
    border-style: solid;
    border-width: 3;
    border-radius: 5px !important;
    border-color: #FF7F27;
}

::placeholder {
    color: #FF7F27;
    font-size: 1em;   
  }